body {
    padding: 15px;
    background-color: #f9f7cf;
}

footer, header {
    padding: 5px 15px;
    background-color: #f2dcbb;
}

footer, main, header {
    width: 480px;
}

footer p{
    font-size: 17px;
}