html {
    font-family: Helvetica, sans-serif;
    padding: 40px;
}

header {
    display: flex;
    border-bottom: 2px solid #000;
}

header nav {
    display: inline-block;
}


header nav ul {
    display: flex;
    height: 100%;
    margin: 0;
}

header nav ul li, header nav h1 {
    margin: auto;
    display: inline-block;
}

header nav ul li {
    list-style: none;
    padding: 10px;
    color: green;
}

main h1 {
    font-family: "Times New Roman", sans-serif;
    font-weight: normal;
}