@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    padding: 20px 0 60px 0;
}

header .logo, header h1 {
    display: block;
    width: 100%;
    text-align: center;
}

header .logo img {
    height: 50px;
}

header h1 {
    font-size: 3em;
    font-weight: normal;
    letter-spacing: 5px;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    padding: 0 300px;
}

main section .descriptions {
    font-weight: normal;
}

main section .descriptions h2 {
    margin: 0 0 25px 0;
    font-size: 1.45rem;
    line-height: 2.2rem;
}

main section .descriptions p {
    opacity: 60%;
    line-height: 1.5rem;
    font-size: 1.3rem;
}

main section ul {
    padding: 0;
    margin: 0;
}


main section ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

main section ul li img {
    height: 50px;
}

main section ul li .text {
    margin: 10px 0 20px 0;
    opacity: 60%;
}

main section ul li .text h3, main section ul li .text p {
    padding: 0;
    margin: 10px 10px;
}

main section ul li .text p {
    font-size: 1.2rem;
}


nav {
    padding-left: 50px;
}

nav img {
    width: 620px;
}
