@import url('https://use.fontawesome.com/releases/v6.4.0/css/all.css');
/* For Webkit-based browsers (Chrome, Safari) */
aside::-webkit-scrollbar {
    width: 102px;
}

::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* For Firefox */
* {
    scrollbar-width: auto;
}

:root {
    /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    /*line-height: 1.5;*/
    /*font-weight: 400;*/

    /*color-scheme: light dark;*/
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #242424;*/

    /*font-synthesis: none;*/
    /*text-rendering: optimizeLegibility;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    /*-webkit-text-size-adjust: 100%;*/


    --primaryColor: #1e293b;
    --secondaryColor: #6366f1;
    --grayColor: #838a95;
    --grayColorRGB: 131, 138, 149;
    --redColor: #E83547;
    --greenColor: #03b288;
    --whiteColor: #fff;

    --spinner-color: #4f46e5;

    --background-primary: #e0e0e6;
    --background-secondary: #f1f5f9;
    --aside-background: #0F172A;
    --aside-button-hover: #2C3344;
    --button-bg: #f46258;
    --nav-box-shdow: #2C3344;
    --nav-button-background: #4f46e5;
    --nav-search-border: #00000033;
    --nav-search-text: #818181;
    --nav-search-border-on-focus: #4f46e5;
    --nav-search-add-product-background: #4f46e5;
    --nav-search-add-product-font-color: #ffffff;
    --table-list-products-thead-backround: #f6f8fa;
    --table-list-products-thead-border: #e0e6ee;
    --table-list-products-in-stock: #0caf64;
    --table-list-products-out-stock: #d51920;
    --table-list-product-detail-select: #c9d3df;
    --table-list-product-detail-select-arrow: #8a8a8a;
    --table-list-product-detail-select-selected: #4e45e3;
    --table-list-product-detail-select-arrow-selected: #4e45e3;
    --table-list-product-detail-select-arrow-hover: #414141;
    --table-list-product-detail-option: #ffffff;
    --table-list-product-detail-option-border: #c5c5c5;
    --table-list-product-detail-option-hover: #e1e1e1;
    --table-list-product-detail-option-selected: #4e45e3;
    --table-list-products-tfoot-backround: #f6f8fa;
    --table-list-products-tfoot-border: #e0e6ee;
    --table-list-products-tfoot-button-bg: #4e45e3;
    --table-list-products-tfoot-button-icon: #f6f8fa;

    --table-list-products-close-button: #d51920;

    --nav-bar-height: 80px;
    --nav-width: 200px;
    --aside-width: 200px;
}

body {
    padding: 0;
    margin: 0;
}

/* Black Theme */
:root.dark {
    --background-primary: #191923;
    --background-secondary: #252531;
    --button-bg: #ffc107;
    --title-color: #ffffff;
    --description-color: #7a7a7a;
    --link-color: #ffc107;
}

#root {
    overflow: hidden;
    display: grid;
    grid-template-areas:
          "nav-bar nav-bar"
          "aside main";
    height: 100vh;
}

.overflow-hidden {
    overflow-y: hidden;
}

.tooltip::after {
    z-index: 3;
    position: absolute;
    font-size: 0.8rem;
    text-transform: capitalize;
    font-family: 'Podkova', serif;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    padding: 0.5rem;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.tooltip:hover::after {
    opacity: 1;
}