body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

nav {
    background-color: #444444;
    display: flex;
}

ul {
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: auto;
    list-style: none;
    display: flex;
}

li {
    size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}