@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.ProductList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-collapse: collapse;
}

.ProductList .header {
    width: 100%;
    background-color: var(--table-list-products-thead-backround);
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

.ProductList .header .row {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 6fr 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
}

.ProductList .header .row {
    border-top: 1px solid var(--table-list-products-thead-border);
    border-bottom: 1px solid var(--table-list-products-thead-border);
}

.ProductList .header .row .column {
    padding: 10px;
    border-right: 1px solid var(--table-list-products-thead-border);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ProductList .header .row .column:first-child,
.ProductList .header .row .column:nth-child(2),
.ProductList .header .row .column:nth-child(4),
.ProductList .header .row .column:nth-child(5),
.ProductList .header .row .column:last-child {
    justify-content: center;
}


.ProductList .header .row .column span {
    cursor: pointer;
}

.ProductList .header .row .column span:first-child,
.ProductList .header .row .column span:last-child {
    cursor: unset;
    user-select: none;
}

.ProductList .header .row .column i {
    margin-left: auto;
}

.ProductList .body {
    width: 100%;
    box-sizing: border-box;
    min-height: calc(100vh - 100px - 44px - 50px);
    max-height: calc(100vh - 100px - 44px - 50px);
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    overflow-y: scroll;
}
