{% extends 'base.html' %}
{% load tags %}

{% block page_content %}
    <section id="catalogue">¶
        {% for obj in object_list %}
            <div class="plant-card">
                <div class="image-wrap">
                    <img src="{{ obj.image_url }}" alt="{% plant_type obj.type %}">
                </div>
                <h3>{{ obj.name }}</h3>
                <h1>{{ obj.description }}</h1>
                <div class="details-buttons">
                    <a href="{% url 'plant details page' obj.pk %}" class="details-btn">Details</a>
                </div>
            </div>
        {% empty %}
            <p class="no-articles">No plants yet</p>
        {% endfor %}
    </section>
{% endblock %}