{% extends 'base.html' %}

{% block page_content %}
    <section id="register-page" class="content auth">
        <form id="register" action="{% url 'profile create page' %}" method="post">
            <div class="container">
                <h1>Create Profile</h1>
                {% for field in form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {{ field.errors }}
                {% endfor %}
                {% csrf_token %}
                <input class="btn submit" type="submit" value="Create Profile">
            </div>
        </form>
    </section>
{% endblock %}