{% extends 'base.html' %}

{% block page_content %}
    <section id="create-page" class="auth">
        <form id="create" action="{% url 'plant edit page' object.pk %}" method="post">
            <div class="container">
                <h1>Edit Plant</h1>

                {% for field in form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                    {{ field.errors }}
                {% endfor %}
                {% csrf_token %}
                <input class="btn submit" type="submit" value="Edit Plant">
            </div>
        </form>
    </section>
{% endblock %}