.topHeader {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fda5ab;
}

.phoneNumberHeader i, .emailsHeader i {
    margin-right: 10px;
}

.mainHeader {
    background-color: #4e45e3;
}