{% extends 'base.html' %}

{% block page_content %}
    <main>
        <section id="register">
            <div class="form">
                <h2>Create Profile</h2>
                <form class="register-form" action="{% url 'profile create' %}" method="post">
                    {% for field in form %}
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %}
                    {% csrf_token %}
                    <button type="submit">Create</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
