{% extends 'base.html' %}

{% block page_content %}
    <main>
        <section id="create">
            <div class="form">
                <h2>Add Fruit</h2>
                <form class="create-form" action="{% url 'fruit create' %}" method="post">
                    {% for field in form %}
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %}
                    {% csrf_token %}
                    <button type="submit">Add Fruit</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}