{% extends 'base.html' %}

{% block page_content %}
    <main>
        <section id="details">
            <div id="details-wrapper">
                <img id="details-img" src="{{ object.image_url }}" alt="example1"/>
                <p id="details-title">{{ object.name }}</p>
                <div id="info-wrapper">
                    <div id="details-description">
                        <p>{{ object.description }}</p>
                        <p id="nutrition">Nutrition</p>
                        <p id="details-nutrition">{{ object.nutrition }}</p>
                    </div>
                    <div id="action-buttons">
                        <a href="{% url 'fruit edit' object.pk %}" id="edit-btn">Edit</a>
                        <a href="{% url 'fruit delete' object.pk %}" id="delete-btn">Delete</a>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}