{% extends 'base.html' %}

{% block page_content %}
    <main>
        <section id="register">
            <div class="form">
                <h2>Edit Profile</h2>
                <form class="register-form" action="{% url 'profile edit' %}" method="post">
                    {% for field in form %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %}
                    {% csrf_token %}
                    <button type="submit">Edit</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}