.Aside {
    background-color: var(--aside-background);
    min-height: 100vh;
    max-height: 100vh;
    width: 250px;
    overflow: scroll;
    scrollbar-color: white var(--aside-background);
}

.Aside .navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px;
    color: white;
}

.Aside .navigationBar a {
    color: inherit;
    text-decoration: none;
}

.Aside .navigationBar li {
    margin-right: 10px;
    position: relative;
}

.Aside .navigationBar li:first-child {
    margin-right: auto;
}

.Aside .navigationBar li i {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Aside .navigationBar .notification i::before,
.Aside .navigationBar .profile i::before {
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
}

.Aside .navigationBar .notification span {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: #0D9488;
    position: absolute;
    top: -10px;
    right: -5px;
    border-radius: 50%;
}

.Aside .navigationBar li img {
    width: 100px;
}

.Aside .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

.Aside .profile figure {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Aside .profile figure img {
    height: 100%;
}

.Aside .profile p {
    padding-top: 20px;
    font-size: 1.1rem;
}

.Aside .profile .profileEmail {
    padding: 5px 0 20px 0;
    font-size: 0.7rem;
    color: #bbbbbb;
}

.Aside .profile p {
    color: white;
}

.Aside .profile .profileEmail i {
    margin-left: 10px;
    position: relative;
}


.Aside .profile .profileEmail i .tooltip {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    bottom: 20px;
    right: -5px;
    font-size: 0.7rem;
    z-index: 1000;
    font-family: Arial, serif;
    white-space: nowrap;
}

.Aside .profile .profileEmail i .tooltip::before {
    content: "";
    background-color: #ffffff;
    width: 7px;
    height: 7px;
    position: absolute;
    bottom: -3px;
    right: 5px;
    transform: rotate(45deg);
    z-index: 9;
}

.Aside .profile .profileEmail i:hover .tooltip {
    display: inline-block;
}

.Aside .verticalNavGroupItems .verticalNavGroupName {
    width: 100%;
    padding: 10px 0 10px 15px;
    color: #7E8AD9;
    font-size: 1.2rem;
    user-select: none;
}

.Aside .verticalNavGroupItems {
    display: flex;
    flex-wrap: wrap;
}

.Aside .verticalNavGroupItems a {
    width: 100%;
    margin: 5px 0 5px 15px;
    padding: 10px 0 10px 15px;
    text-decoration: none;
}


.Aside .verticalNavGroupItems a:hover {
    background-color: var(--aside-button-hover);
    border-radius: 5px 0 0 5px;
}

.Aside .verticalNavGroupItems a i,
.Aside .verticalNavGroupItems a span {
    color: white;
}

.Aside .verticalNavGroupItems a span {
    text-decoration: none;
    margin-left: 10px;
}
