.MainContent {
    grid-area: main;
    min-height: 100vh;
    max-height: calc(100vh - var(--nav-bar-height));
    overflow: scroll;
    background-color: var(--background-secondary);
    box-sizing: content-box;
    position: relative;
}

.MainContent.Minimized {
    width: calc(100vw - var(--aside-width));
}

.MainContent.Expand {
    width: 100vw;
}

.MainContent .Nav {
    padding: 20px 0;
}

.MainContent .Nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    padding: 10px 20px;
}

.MainContent .Nav ul li {
    margin-left: 20px;
    list-style: none;
}

.MainContent .Nav ul li:first-child {
    margin-left: 0;
    justify-content: flex-start;
    margin-right: auto;
}

.MainContent .Nav ul li div {
    height: 40px;
    --padding: 10px;

    border: 1px solid var(--nav-search-border);
    border-radius: calc(24px + var(--padding));
    padding: var(--padding);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.MainContent .Nav ul li div i {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--nav-search-border);
}

.MainContent .Nav ul li div input {
    margin-left: 5px;
    border: none;
}

.MainContent .Nav ul li div input:focus {
    outline: none;
}

.MainContent .Nav ul li .focused {
    border-color: var(--nav-search-border-on-focus);
}

.MainContent .Nav ul li .focused i {
    color: var(--nav-search-border-on-focus);
}

.MainContent .Nav ul li div input::placeholder {
    color: var(--nav-search-text);
    opacity: 100%;
    font-size: 0.9rem;
}

.MainContent .Nav .addProduct {
    padding: 0 15px 0 10px;
    background-color: var(--nav-search-add-product-background);
    font-size: 1.2rem;
    cursor: pointer;
}

.MainContent .Nav .addProduct,
.MainContent .Nav .addProduct i {
    color: var(--nav-search-add-product-font-color);
}

.MainContent .Nav .addProduct i {
    margin-right: 5px;
}