{% extends 'base.html' %}

{% block page_content %}
    <section id="register-page" class="content auth">
        <form id="register" action="{% url 'profile edit' %}" method="post">
            <div class="container">
                <h1>Edit Profile</h1>
                {% for field in form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                    {{ field.errors }}
                {% endfor %}
                <input class="btn submit" type="submit" value="Edit Profile">
            </div>
            {% csrf_token %}
        </form>
    </section>
{% endblock %}