@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.viewport {
    height: 50%;
}

.viewport.first {
    background: linear-gradient(90deg, #185b9c 0%, #42cca0 100%);
}

.viewport.second {
    background: linear-gradient(90deg, #a73377 0%, #d18013 100%);
}

.card {
    padding: 10px;
    display: block;
    position: absolute;
}

.viewport.first .card {
    transform: translate(200%, 75%);
}

.viewport.second .card {
    transform: translate(200%, 6%);
}

.viewport.first .card img {
    height: 20vh;
}

.viewport.second .card img {
    height: 45vh;
    position: relative;
    z-index: -999;
}

.card i {
    color: #ffffff;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px;
}
