.navMenu {
    background-color: #4f46e5;
    padding: 10px;
}

.navMenu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navMenu ul li {
    list-style: none;
    padding: 0 10px;
}

.navMenu ul li a {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    color: #4f46e5;
    text-decoration: none;
}

.logo {
    margin-right: auto;
}

.logo img {
    height: 50px;
}

.welcome {
    padding: 50px;
    text-align: center;
    font-size: 1.5rem;
    color: #4f46e5;
}

.customers {
    padding: 50px;
}

.customers ul ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.customers ul ul li {
    list-style: none;
    padding: 10px;
}

.customers ul ul:hover:not(:first-child) {
    background-color: #4f46e5;
    color: #ffffff;
}

.customers ul li:last-child {
    text-align: center;
}

.customers ul.title {
    background-color: #4f46e5;
    border-radius: 10px 10px 0 0;
}

.customers ul.title li {
    padding: 20px;
    color: #ffffff;
    font-size: 1.3rem;
}

.customers ul.table li {
    border-bottom: 1px solid #4f46e5;
    border-right: 1px solid #4f46e5;
}

.customers ul.table li:first-child {
    border-left: 1px solid #4f46e5;
}

.userInfo {
    padding: 50px;
}

.userInfo h2 {
    text-align: center;
    font-size: 2rem;
}

.userInfo span {
    display: flex;
    justify-content: center;
}

.userInfo h3 {
    text-align: center;
    margin-top: 40px;
}

.userInfo div {
    padding: 50px;
}

.userInfo div ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.userInfo div ul:first-child {
    background-color: #4f46e5;
    border-radius: 20px 20px 0 0;
}

.userInfo div ul li {
    list-style: none;
    text-align: center;
}

.userInfo div ul:first-child li {
    padding: 20px;
    font-size: 1.3rem;
    color: #ffffff;
}

.userInfo div ul li:first-child {
    text-align: start;
}

.userInfo div ul:not(:first-child) li {
    border-right: 1px solid #4f46e5;
    border-bottom: 1px solid #4f46e5;
    padding: 10px;
}

.userInfo div ul:not(:first-child) li:first-child {
    border-left: 1px solid #4f46e5;
}

.userInfo div ul:not(:first-child):hover {
    background-color: #4f46e5;
    color: #ffffff;
}

.error {
    color: #ba0613;
    text-align: center;
    margin-top: 50px;
    font-size: 2.2rem;
}