@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "https://use.fontawesome.com/releases/v5.15.4/css/all.css";


html {
    font-family: Poppins, sans-serif;
}

article img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

article section {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.6);
}

article section form,
article section h2 {
    flex: 0 0 100px;
}

article section h2 {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
    padding: 10px;
}

article section form {
    display: grid;
    justify-items: center;
    background-color: #ffffff;
    padding: 20px 0;
    width: 200px;
    border-radius: 5px;
}

article section form .row {
    box-sizing: content-box;
    display: grid;
    justify-items: center;
    grid-template-columns: 20% 79%;
    width: 100%;
    border-bottom: 0.01rem solid rgb(0, 0, 0, 0.1);
    padding: 5px 0;
    align-items: end;
}

article section form .row input {
    width: 100%;
    font-size: 0.7rem;
}

article section form .row input,
article section form .row input:focus {
    outline: unset;
    border: unset;
}

article section form .row i {
    vertical-align: middle;
    font-size: 0.5rem;
    color: #ffffff;
    text-shadow: -1px 0 rgb(0, 0, 0, 0.3), 0 1px rgb(0, 0, 0, 0.3), 1px 0 rgb(0, 0, 0, 0.3), 0 -1px rgb(0, 0, 0, 0.3);
}

article section form button {
    margin-top: 10px;
    padding: 5px 30px;
    border-radius: 20px;
    border: unset;
    background-color: #d41872;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-size: 0.6rem;
    font-weight: bold;
}