{% extends 'base.html' %}

{% block page_content %}
    <section id="car-details">
        <h1>Car Details</h1>
        <div class="info-section">
            <div class="car-header">
                <img class="car-img" src="{{ object.image_url }}" alt='car image'/>
                <h1>{{ object.type }}</h1>
                <p><span class="description">Model: {{ object.model }}</span></p>
                <p><span class="description">Year: {{ object.year }}</span></p>
                <p><span class="description">Price: {{ object.price | floatformat:3 }}</span></p>
            </div>
            <div class="buttons">
                <a href="{% url 'car edit' object.pk %}" class="edit-button">Edit</a>
                <a href="{% url 'car delete' object.pk %}" class="delete-button">Delete</a>
            </div>
        </div>
    </section>
{% endblock %}