{% extends 'base.html' %}

{% block page_content %}
    <section id="create-page" class="auth">
        <form id="create" action="{% url 'car create' %}" method="post">
            <div class="container">
                {% for field in form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                    {{ field.errors }}
                {% endfor %}
                {% csrf_token %}
                <input class="btn" type="submit" value="Create Car">
            </div>
        </form>
    </section>
{% endblock %}