{% extends 'base.html' %}
{% load tags %}

{% block page_content %}
    {% if not object_list %}
        <p class="no-articles">No cars yet</p>
    {% else %}
        <section id="catalogue">
            <h1>Total cars: {% cars_count %}</h1>
            {% for obj in object_list %}
                <div class="car-card">
                    <div class="image-wrap">
                        <img src="{{ obj.image_url }}" alt="Sport Car">
                    </div>
                    <h3>{{ obj.type }}</h3>
                    <h1>{{ obj.model }}</h1>
                    <div class="details-buttons">
                        <a href="{% url 'car details' obj.pk %}" class="details-btn">Details</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    {% endif %}

{% endblock %}