{% extends 'base.html' %}
{% load tags %}
{% load static %}

{% block page_content %}
    <!-- profile details section -->
    <section id="car-details">
        <h1>Profile Details</h1>
        <div class="info-section">
            <div class="car-header">
                {% if not object.profile_picture %}
                    <img class="car-img" src="{% static 'images/default-profile.png' %}" alt='profile-image'/>
                {% else %}
                    <img class="car-img" src="{{ object.profile_picture }}" alt='profile-image'/>
                {% endif %}

                {% profile_name object as profile_name %}
                {% if profile_name %}
                    <h1>{{ profile_name }}</h1>
                {% endif %}
                <p class="description">Username: {{ object.username }}</p>
                <p class="description">Email: {{ object.email }}</p>
                <p class="description">Age: {{ object.age }}</p>
                <!-- total price of all cars -->
                <p class="description">Total price: {% cars_total_amount %}</p>
                <!-- Edit/Delete buttons -->
                <div class="buttons">
                    <a href="{% url 'profile edit' %}" class="edit-button">Edit</a>
                    <a href="{% url 'profile delete' %}" class="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}