@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');


html, body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body header {
    background-image: url("images/landing-photo.jpg");
    background-size: cover;
    background-position: 0% 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0 100px 0;
}

body header nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

body header nav .navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

body header nav .navigation ul li {
    display: inline-block;
    margin-right: 20px;
}

body header nav .navigation button, body header .banner-text button {
    background-color: #370511;
    padding: 5px 15px;
    border-radius: 15px;
}

body header nav .navigation button a, body header .banner-text button a {
    text-decoration: none;
    color: #ffffff;
}

body header .banner-text {
    width: 70%;
    padding-top: 150px;
}

body header .banner-text h1 {
    font-size: 3.5rem;
}

body header .banner-text p {
    font-size: 1.85rem;
    margin-bottom: 50px;
}

body header .banner-text span {
    display: block;
    margin-bottom: 30px;
}


body footer {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px
}

body main {
    display: flex;
    justify-content: center;
}

body main section {
    width: 70%;
    padding: 100px;
}

body main section h2 {
    text-align: center;
    font-size: 2rem;
    padding: 10px 0 0 0;
}


body main section p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 30px;
}

body main section article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

body main section article .box .image {
    height: 220px;
    overflow: hidden;
    border-radius: 10px;
}

body main section article .image img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

body main section article .box h3 {
    font-size: 1.2rem;
    text-align: center;
    margin: 15px 0 10px 0;
}

body main section article .box p {
    width: 80%;
    text-align: start;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}

body main section article .box button {
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-color: #c4b6b9;
    border-width: 1px;
    border-style: solid;
}


footer ul li {
    list-style: none;
    line-height: 40px;
}

body footer .follow-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

body footer .follow-us ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}