.Aside {
    grid-area: aside;
    background-color: var(--aside-background);
    min-height: 100vh;
    max-height: 100vh;
    width: var(--aside-width);
    overflow-y: scroll;
    padding: 40px;
    box-sizing: border-box;

    scrollbar-width: inherit;
    scrollbar-color: #4e45e3 #ffffff; /* For Firefox */

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ffffff;
        border-radius: 6px;
    }

    &::-webkit-scrollbar-track {
        background-color: #ffffff;
    }
}

.Aside ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Aside ul li {
    list-style: none;
    position: relative;
    margin-bottom: 20px;
}

.Aside ul li a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 100px;
    background-color: #2c3a52;
    color: var(--whiteColor);
    border-radius: 10px;
    overflow: hidden;
    padding: 19px 5px;
    text-decoration: none;
}

.Aside ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    border-radius: 10px;
    background: linear-gradient(132deg, #4f46e5 4.27%, #6366f1 100%);
    opacity: 0;
    transition: all ease 0.5s;
    z-index: 1;
}

.Aside ul li a:hover::after {
    opacity: 1;
    height: 100%;
}

.Aside ul li a i {
    font-size: 2rem;
    z-index: 2;
}

.Aside ul li a span {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    z-index: 2;
}


