.Aside {
.verticalNavGroupItems .verticalNavGroupItem:last-child {
    margin-top: auto;
    justify-content: flex-end;
    background-color: red;
}
    background-color: var(--aside-background);
    min-height: 100vh;
    max-height: 100vh;
    width: 250px;
    overflow-y: scroll;
    box-sizing: border-box;

    scrollbar-width: inherit;
    scrollbar-color: #4e45e3 #ffffff; /* For Firefox */

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ffffff;
        border-radius: 6px;
    }

    &::-webkit-scrollbar-track {
        background-color: #ffffff;
    }
}

.Aside .Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
    color: white;
}

.Aside .Logo figure {
    width: 80%;
}

.Aside .Logo img {
    width: 100%;
}

.Aside .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

.Aside .profile figure {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Aside .profile figure img {
    height: 100%;
}

.Aside .profile p {
    padding-top: 20px;
    font-size: 1.1rem;
}

.Aside .profile .profileEmail {
    padding: 5px 0 20px 0;
    font-size: 0.7rem;
    color: #bbbbbb;
}

.Aside .profile p {
    color: white;
}

.Aside .profile .profileEmail i {
    margin-left: 10px;
    position: relative;
}


.Aside .profile .profileEmail i .tooltip {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    bottom: 20px;
    right: -5px;
    font-size: 0.7rem;
    z-index: 1000;
    font-family: Arial, serif;
    white-space: nowrap;
}

.Aside .profile .profileEmail i .tooltip::before {
    content: "";
    background-color: #ffffff;
    width: 7px;
    height: 7px;
    position: absolute;
    bottom: -3px;
    right: 5px;
    transform: rotate(45deg);
    z-index: 9;
}

.Aside .profile .profileEmail i:hover .tooltip {
    display: inline-block;
}

.verticalNavGroupItems {
    height: calc(100vh - 350px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
}
