.ProfileForm {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ProfileForm .profileFormContainer {
    display: grid;
    grid-template-areas:
        "picture info";
    grid-template-columns: 1fr 3fr;
    align-items: start;
}

.ProfileForm .info {
    grid-area: info;
}

.ProfileForm .picture {
    grid-area: picture;
}

.ProfileForm .picture p {
    text-align: center;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-bottom: 10px;
}

.ProfileForm .picture .dragGroup {
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
}

.ProfileForm .picture .dragGroup .dragZone {
    border-radius: 10px;
    width: 100%;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #8d929a;
    position: relative;
}

.ProfileForm .picture .dragGroup .dragZone input[type=file] {
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    box-shadow: none;
    opacity: 0;
}

.ProfileForm .picture .dragGroup .dragZone i {
    width: 100%;
    font-size: 5rem;
    text-align: center;
    padding: 2rem;
}

.ProfileForm .picture .dragGroup .dragZone span {
    width: 100%;
    margin: 20px 0;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
    color: var(--secondaryColor);
}

.ProfileForm .picture .dragGroup .draggedImage {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 200px;
}

.ProfileForm .picture .dragGroup .draggedImage div {
    position: relative;
}

.ProfileForm .picture .dragGroup .draggedImage div i {
    position: absolute;
    right: 5px;
    top: 5px;
    color: var(--redColor);
    font-size: 1.2rem;
}

.ProfileForm .picture .dragGroup .draggedImage div i::before {
    background-color: var(--whiteColor);
    border-radius: 50%;
}

.ProfileForm .picture .dragGroup .draggedImage div img {
    width: 100%;
    height: 100%;
}

.ProfileForm .picture .profilePicture {
    background-color: var(--whiteColor);
    border-radius: 10px;
    width: 100%;
    height: 270px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.ProfileForm .picture .profilePicture figure,
.ProfileForm .picture .profilePicture button {
    border-radius: 7px;
}

.ProfileForm .picture .profilePicture figure {
    width: 250px;
    height: 250px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ProfileForm .picture .profilePicture figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ProfileForm .picture .profilePicture button {
    margin: 0;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--redColor);
    border: none;
    cursor: pointer;
}

.ProfileForm .picture .profilePicture button i {
    color: var(--whiteColor);
    font-size: 3rem;
}

.ProfileForm div div {
    width: 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.ProfileForm div div label,
.ProfileForm div div input {
    width: 100%;
}

.ProfileForm div div label {
    margin: 0 0 10px 20px;
    font-size: 1.2rem;
}


.ProfileForm div div input {
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--whiteColor);
    width: 90%;
}

.ProfileForm div div input:focus {
    border: 1px solid var(--secondaryColor);
    outline: none;
}


.ProfileForm .buttons button {
    margin: 30px 20px 0 20px;
    background-color: var(--secondaryColor);
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    color: #ffffff;
    cursor: pointer;
}

.ProfileForm .buttons button.cancel {
    background-color: var(--redColor);
}

.ProfileForm .buttons button[disabled] {
    text-decoration: line-through;
}