.baseInfoForm {
    display: grid;
    grid-template-areas:
            "name name groups"
            "code barcode groups"
            "quantity price groups"
            "active buttons groups";
    flex-wrap: wrap;
    padding: 0 20px 20px 20px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.baseInfoForm div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.baseInfoForm div label {
    width: 100%;
}

.baseInfoForm div input {
    width: 80%;
}

.baseInfoForm .name {
    grid-area: name;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.baseInfoForm .name label,
.baseInfoForm .name input {
    width: 100%;
}

.baseInfoForm .code {
    grid-area: code;
}

.baseInfoForm .barcode {
    grid-area: barcode;
}

.baseInfoForm .price {
    grid-area: price;
}

.baseInfoForm .quantity {
    grid-area: quantity;
}

.baseInfoForm .active {
    grid-area: active;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.baseInfoForm .active > label {
    min-width: unset;
    width: auto;
    margin-right: 20px;
}

.baseInfoForm .buttons {
    grid-area: buttons;
}


.baseInfoForm .buttons button {
    margin: 10px;
    padding: 15px;
    border: none;
    border-radius: 10px;
}

.baseInfoForm .buttons button.save {
    background-color: #4e45e3;
    color: #ffffff;
}

.baseInfoForm .buttons button.delete {
    background-color: #d51920;
    color: #ffffff;
}

.baseInfoForm .groups {
    grid-area: groups;
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
    max-height: 260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: #4e45e3 #4e45e3; /* For Firefox */

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #4e45e3;
        border-radius: 6px;
    }

    &::-webkit-scrollbar-track {
        background-color: #4e45e3;
    }
}

.baseInfoForm .groups ul li div {
    flex-wrap: nowrap;
    align-items: center;
}

.baseInfoForm .active input,
.baseInfoForm .groups input {
    appearance: none;
    border: 1px solid #d3d3d3;
    width: 30px;
    height: 30px;
    content: none;
    outline: none;
    margin: 0 10px 0 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baseInfoForm .active input[type="checkbox"]:checked,
.baseInfoForm .groups input[type="radio"]:checked {
    appearance: none;
    outline: none;
    content: none;
    border: 1px solid #4e45e3;
}

.baseInfoForm .active input[type="checkbox"]:checked::before,
.baseInfoForm .groups input[type="radio"]:checked::before {
    font-family: "Font Awesome 5 Free";
    color: #4e45e3 !important;
    content: "\f00c" !important;
    font-weight: bolder;
    font-size: 21px;
}

.baseInfoForm .groups span {
    width: 100%;
}

.baseInfoForm .groups ul {
    list-style: none;
}

.baseInfoForm .groups ul ul {
    margin-left: 10px;
}

.baseInfoForm div label {
    min-width: 150px;
    padding: 5px 0;
}

.baseInfoForm div:not(:nth-child(6)) input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.baseInfoForm div input:focus {
    border: 1px solid #4e45e3;
    outline: none;
}