@media screen and (max-width: 768px) {
    main .main-movie ul .main-movie-poster {
        display: none;
    }

    main .main-movie ul .main-movie-trailer iframe {
        width: 550px;
        height: 300px;
    }

    main .trending {
        margin: 50px 0 0 0;
    }

    main .trending ul .movie img {
        height: 70%;
    }

    main .classics {
        margin: 50px 0 0 0;
    }

    main .classics ul .movie img {
        height: 70%;
    }
}

@media screen and (max-width: 414px) {
    main .main-movie {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    main .main-movie ul {
        width: 110%;
        display: block;
        margin: auto;
    }

    main .main-movie ul .main-movie-trailer {
        padding: 0;
    }

    main .main-movie ul .main-movie-trailer iframe {
        min-width: inherit;
    }

    main .trending .movie-list,
    main .classics .movie-list {
        flex-wrap: wrap;
    }

    main .classics .movie-list li,
    main .trending .movie-list li {
        width: 85%;
    }

    main .classics .movie-list li img,
    main .trending .movie-list li img {
        height: 100%;
    }
}