.verticalNavGroupItem {
    display: flex;
    flex-wrap: wrap;
}

.verticalNavGroupItem:last-child {
    margin-top: auto;
}

.verticalNavGroupItem div {
    width: 100%;
}

.verticalNavGroupItem .verticalNavGroupName {
    width: 100%;
    padding: 10px 0 10px 15px;
    color: #7E8AD9;
    font-size: 1.2rem;
    user-select: none;
}

.verticalNavGroupItem a {
    display: inherit;
    width: 100%;
    margin: 5px 0 5px 15px;
    padding: 10px 0 10px 15px;
    text-decoration: none;
}

.active,
.verticalNavGroupItem a:hover {
    background-color: var(--aside-button-hover);
    border-radius: 5px 0 0 5px;
}

.verticalNavGroupItem a i,
.verticalNavGroupItem a span {
    color: white;
}

.verticalNavGroupItem a span {
    text-decoration: none;
    margin-left: 10px;
}
