.MessageBox {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-25%);
    padding: 20px 40px 20px 20px;
    border-radius: 20px;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.error {

}

.success {
    background-color: #ffffff;
    border: 3px solid #0caf64;
    color: #0caf64;
}

.success i {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 4px;
    border: 2px solid #0caf64;
    border-radius: 50%;
    font-size: 0.7rem;
}