@import "https://use.fontawesome.com/releases/v5.15.4/css/all.css";

header {
    height: calc(100vw * 0.39);
    background-image: url("images/map.jpg");
    background-size: cover;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

header nav img {
    width: 1.5rem;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 0.6rem;
}

header nav ul li a, header nav ul li i {
    color: #ffffff;
    text-decoration: none;
}

header article h1 {
    font-size: 3rem !important;
}

main {
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}

header article {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

header article h1 {
    width: 100%;
    text-align: center;
    font-size: 2.6rem;
    color: #ffffff;
}

header article a {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.6rem;
    padding: 5px;
    background-color: #146594;
    border-radius: 3px;
    font-family: sans-serif;
}

main article {
    width: 70vw;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 40px calc(100vw * 0.2) calc(100vw * 0.2);
    grid-template-areas:
    "title title"
    "ltopic urtopic"
    "ltopic drtopic";
}

main article section {
    position: relative;

}

main article h2 {
    padding: 10px 0;
    color: #53595c;
    grid-area: title;
}

main article .left-section {
    grid-area: ltopic;
    grid-row: span 2;

}

main article .left-section p {
    top: 2.4rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

main article section p a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
}

main article .right-up-section {
    grid-area: urtopic;
    grid-row: span 1;
}

main article section p {
    display: flex;
    justify-content: center;
}

main article .right-up-section p {
    top: 0;
    width: 100%;
}

main article .right-down-section {
    grid-area: drtopic;
    grid-row: span 1;
}


main article .right-down-section p {
    bottom: 10px;
    left: 5px
}


main article section p {
    z-index: 1;
    position: absolute;
}


main article section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-drop-shadow {
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.8);
}

footer {
    width: 100%;
    background-color: #8c8c8c;
    display: flex !important;
    justify-content: space-evenly;
}

footer ul,
footer ul li {
    display: inline-block;
}

footer ul {
    padding: 1rem;

}


footer ul li a {
    --main-color: rgb(255, 255, 255, 0.5);
    text-decoration: none;
    color: var(--main-color);
    font-size: 0.7em;
    border-right: 1px solid var(--main-color);
    padding: 0 5px;
}

footer ul li:last-child a {
    border-right: unset;
}