@import "https://use.fontawesome.com/releases/v5.15.4/css/all.css";

body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 14px;
}

form {
    width: 600px;
    background-color: #f8f8f8;
    font-size: 2rem;
}

form span {
    width: 20%;
    background-color: white;
    border: 1px solid black;
}