@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}

body {
    background-color: #f5f5f5;
}

header {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px 0;
}

header h1 {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 5px;
    font-weight: lighter;
}

header p {
    box-sizing: content-box;
    position: relative;
    text-align: right;
    color: #cb2027;
    padding-left: 310px;
    font-size: 2.3rem;
    font-weight: bold;
}

main section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: space-evenly;
    padding: 0 10%;
}

main section article {
    display: grid;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background-color: white;
}


main section article .image {
    width: 100%;
    height: 270px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

main section article .image img {
    width: 100%;
}

main section article h2 {
    font-size: 2rem;
    text-align: center;
    padding: 10px 0 20px 0;
}

main section article h2:after {
    content: '';
    border: 1px solid red;
    width: 90%;
    transform: translateY(1rem);
    position: absolute;
    left: 20px;
    top: 320px;
    box-sizing: border-box;
}

main section article p {
    padding: 20px 20px 40px 20px;
    font-size: 1.4rem;
    text-align: center;
}

main section article a {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}

main section article a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f138';
    margin-left: 20px;
    color: #ca1d25;
}
