@media screen and (max-width: 600px) {
    header {
        padding: 1.1rem 0;
    }

    header nav {
        flex-direction: column;
    }

    header nav img {
        width: 65px;
        margin-bottom: 15px;
    }

    header nav ul {
        display: grid;
        justify-items: center;
        gap: 5px
    }

    header nav ul li {
        padding: 0;
        font-size: 0.8rem;
    }

    header .header-title {
        padding: 20px 0;
    }

    header .header-title h1 {
        font-size: 2.4rem;
        padding-bottom: 0.3em;
    }

    header .header-title p {
        font-size: 1rem;
    }

    header .header-title button {
        font-size: 0.8rem;
    }

    h3 {
        font-size: 20px;
    }

    main .about-us p, main .team-description-wrapper p {
        font-size: 0.8rem;
    }

    main .team-description-wrapper {
        width: 100%;
    }

    main .team-description-wrapper p {
        padding-bottom: 20px !important;
    }

    main .team-description-wrapper ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 70px;
        gap: 20px 70px;
    }

    main .team-description-wrapper ul li img {
        width: 100%;
        height: auto;
    }

    main .choose-us {
        padding: 2rem 0;
    }

    main .choose-us ul {
        flex-direction: column;
        align-content: center;
    }

    main .choose-us ul li img {
        width: 6rem;
        height: auto;
    }

    main .choose-us ul li h4 {
        font-size: 1rem;
    }

    main .choose-us ul li p {
        width: 60%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.9rem;
    }

    .blog-news h3 {
        font-size: 1.3rem;
    }

    .blog-news p {
        font-size: 0.8rem;
    }

    .blog-news .blog-list {
        flex-direction: column;
        align-items: center;
        gap: 30px 0;
    }

    .blog-news .blog-list .item {
        width: 70%;
    }

    .blog-news .blog-list .item .content h4{
        font-size: 0.8rem;
    }

    .blog-news .blog-list .item .content {
        padding: 2rem 1.5rem;
    }

    footer p {
        font-size: 0.8rem;
    }
}