html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

body {
    margin: auto;
    max-width: 70vw;
}

section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
}

section article {
    width: 21%;
}

section article h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
    font-weight: normal;
    font-size: 2.2em;
}