.ProfileForm {
    padding: 50px;
}

.ProfileForm div {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

.ProfileForm div label {
    margin-right: 20px;
    text-align: right;
}


.ProfileForm div input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.ProfileForm div input:focus {
    border: 1px solid #4f46e5;
    outline: none;
}