.modal-small {
    width: 600px;
}

.modal-medium {
    width: 900px;
}

.modal-big {
    width: 1200px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-35 {
    padding-top: 35px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-35 {
    padding-bottom: 35px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid;
    cursor: pointer;
}

.btn.success-regular,
.btn.success-solid {
    border-color: var(--greenColor);
}

.btn.success-regular {
    background-color: var(--whiteColor);
    color: var(--greenColor);
}

.btn.success-solid {
    background-color: var(--greenColor);
    color: var(--whiteColor);
}

.btn.danger-regular,
.btn.danger-solid {
    border-color: var(--redColor);
}

.btn.danger-regular {
    background-color: var(--whiteColor);
    color: var(--redColor);
}

.btn.danger-solid {
    background-color: var(--redColor);
    color: var(--whiteColor);
}