body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

nav, footer {
    background-color: #444444;
}

nav {
    display: flex;
}

footer p {
    text-align: center;
    color: #ffffff;
    padding: 10px;
}

ul {
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: auto;
    list-style: none;
    display: flex;
}

li {
    size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

section {
    margin-left: 20px;
}

section article header h1 {
    font-size: 28px;
}

section article header p {
    font-style: italic;
}

section article p {
    font-size: 24px;
}